/*General style
0. google fonts
1.Navbar
2.Header
3.Section 1
4.Section 2
5.Section 3
6.Footer 

*/

/*Google Fonts*/

h1{
  font-family: 'Oxygen', sans-serif;

}
h2{
  font-family: 'Oxygen', sans-serif;

}
h3{
  font-family: 'Oxygen', sans-serif;


}
h4{
  font-family: 'Oxygen', sans-serif;


}
h5{
  font-family: 'Oxygen', sans-serif;


}
h6{
  font-family: 'Oxygen', sans-serif;


}

p{
  font-family: 'Oxygen', sans-serif;


}


/*Navbar styles*/


/*Header ===================================*/

h2.welcome-text{
  font-size: 39px;
  margin-left: 2em;
}



/* Section 1 ===============================*/
  .section-1{
    height: 550px;

  }
  
/*Tap ball*/

  .pen {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
    flex: 1 1 100%;
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
  }
  
  .ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 18px;
    transform-origin: 50% 100%;
  }
  
  .area {
    width: 450px;
    height: 300px;
    margin-left: 100px;
    border-bottom: 5px solid red;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  
  .pen a {
    color: var(--blue);
    text-decoration: none;
    margin-bottom: 70px;
  }
    


/*======================== Section 2 */

.card{
    margin: 0px;
    margin-top: -50px;
    padding: 0px;
    border: 0px none;  
}

h5.card-font{
  margin-bottom: 5px;
  padding: 0px;
  font-size: 25px;
  font-weight: bold;
}



/*================Footer====================*/

.footer-row{
  margin-top: 10em;
  height: 350px;
}

p.footer-text{
  font-size: 19px;
}